@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div id="header" class="row-fluid">
  <div id="masthead" class="row-fluid">
    <div class="span3">
      <a href="#">
        <div class="logo-sm">
          <h1>Health Republic Insurance</h1>
        </div>
      </a>
    </div>
    <div class="span9">
      <div class="navigation pull-right">
        <ul class="nav-site unstyled inline">
          <li class="menu-item short"><a href="" data-toggle="dropdown" class="dropdown-toggle">Member Center</a></li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown" class="dropdown-toggle">Your Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="sub-link"><a href="#">My Profile</a></li>
              <li class="sub-link"><a href="#">My Current Plan</a></li>
              <li class="sub-link"><a href="#">Change Email</a></li>
              <li class="sub-link"><a href="#">Change Password</a></li>
              <li class="sub-link"><a href="#">My Correspondence</a></li>
              <li class="sub-link"><a href="#">My Claims</a></li>
              <li class="sub-link"><a href="#">Manage primary Physician</a></li>
              <li class="sub-link"><a href="#">Temporary Id Card</a></li>
              <li class="sub-link"><a href="#">Eligibility</a></li>
              <li class="sub-link"><a href="#">Pharmacy</a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="" data-toggle="dropdown" class="dropdown-toggle">Billing</a></li>
          <li class="menu-item"><a href="" data-toggle="dropdown" class="dropdown-toggle">Find a<br>Provider</a></li>
          <li class="menu-item">
            <a href="" data-toggle="dropdown" class="dropdown-toggle">Resources<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="sub-link"><a href="#">Forms & Guides</a></li>
              <li class="sub-link"><a href="#">FAQ's</a></li>
              <li class="sub-link"><a href="#">General Health Assessment</a></li>
              <li class="sub-link"><a href="#">Health Navigator</a></li>
              <li class="sub-link"><a href="#">Healthways</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown" class="dropdown-toggle">About Us<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="sub-link"><a href="#">Why we're different</a></li>
              <li class="sub-link"><a href="#">Contact Us</a></li>
              <li class="sub-link"><a href="#">Our Staff</a></li>
              <li class="sub-link"><a href="#">Our Board</a></li>
              <li class="sub-link"><a href="#">Careers</a></li>
            </ul>
          </li>
        </ul>

      </div>
      <!-- masthead -->

    </div>
  </div>
  <!-- header-row -->
</div>