@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row-fluid">
  <div class="span6">
    <h5 class="topnav-heading">Questions? ¿Preguntas? Llame 有問題嗎？叫 Call 888.990.5702</h5>
  </div>
  <div class="span6 nav-user pull-right">
    <span class="icon"></span><a href="https://newyork.healthrepublic.us/user/login">Member Login</a>
      @Html.ActionLink("*Member Login*" ,"Index", "IdentitySurface")

  </div>
</div>