@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-single">
  <div class="row-fluid">
    <div class="main-lead">
      <div class="span4">
        <h3>About Us</h3>
        <ul class="unstyled inline breadcrumbs">
          <li><a href="/">Home</a></li> ›
          <li>About Us</li>
        </ul>
      </div>

      <div class="span7 offset1">
        <p>Health Republic Insurance of New York is a true not-for-profit program and New York’s only CO-OP -- Consumer Operated and Oriented Plan.&nbsp; CO-OPs are private, member-governed health insurance companies forming across the country as part of the Affordable Care Act. &nbsp;Health Republic Insurance of New York is one of 23 CO-OPs nationally.</p>

      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <h3>Not-for-Profit.&nbsp; For People.</h3>

      <p>Just as people come together to form credit unions, electric, food and housing coops, our CO-OP members join together to invest all profits back into a better system.&nbsp; Health Republic has three primary goals:</p>

      <ol>
        <li>reduce health care costs</li>
        <li>make health insurance accessible to millions of people</li>
        <li>give individuals a voice in their health care</li>
      </ol>

      <p>&nbsp;</p>

      <h3>We’re Different.</h3>

      <p>Health Republic Insurance of New York’s benefit packages are different and our membership experience is different.&nbsp; Here’s just a few of our special features:</p>

      <ul>
        <li>We have the lowest-priced health insurance option in most of the markets we serve.</li>
        <li>With our PrimarySelect plans, when you choose a Primary Physician, there are no-copays or deductibles on visits to that physician.</li>
        <li>We have no gatekeepers – you need no referral to see any provider in our network.</li>
        <li>We have Wellness Navigators standing by to help our members make the most of their benefits and find community resources to stay healthy.</li>
        <li>Our members have access to more than 40 types of alternative care and fitness providers, all providing significant discounts on their services.</li>
        <li>Our members will vote for the leadership of our organization.</li>
      </ul>

      <p>&nbsp;</p>

      <h3>We’re The Same.</h3>

      <p>At the same time, we are held to the same high standards for all New York health insurance organizations:</p>

      <ul>
        <li>All health insurance plans in New York must cover the same set of Essential Health Benefits. These include medical care, medications, mental health care, and a host of other services.</li>
        <li>Our EssentialCare plans meet all conditions for the New York State “standard” plan, allowing consumers to make an apples-to-apples comparison.</li>
        <li>Our benefit plans, premiums and provider network coverage are all approved and monitored by the New York State Department of Financial Services.</li>
      </ul>

    </div>
  </div>
</div>