@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-team">
  <div class="row-fluid">
    <div class="main-lead">
      <div class="span12">
        <h3>Meet The Team</h3>
        <ul class="unstyled inline breadcrumbs">
          <li><a href="/">Home</a></li> ›
          <li>Team</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">

      <div class="staff-member">
        <h3>Debra Friedman</h3>

        <h4 class="job-title">President &amp; CEO, Health Republic Insurance of New York</h4>

        <p>Debra Friedman has over 20 years of insurance and healthcare industry experience with major national companies, including United Healthcare and Blue Cross and Blue Shield, as well as a range of smaller nonprofit insurance organizations, including Health Plus and Amida Care.&nbsp; Her proven track record of building organizations, accelerating growth and instilling a culture of service and quality is driven from a strong strategic and operational focus with particular depth in new business start-ups and turnarounds.&nbsp;</p>

        <p>Debra’s extensive experience includes creating and managing business strategies for advocacy platforms, individual and commercial healthcare, and ancillary and alternative care businesses, and liaising with state and national regulators and the Center for Medicaid and Medicare Services.&nbsp; In addition, Debra has extensive experience running national and local government programs for individual, Medicare and Medicaid business segments.</p>

        <p>Debra holds an M.B.A. in Strategic Planning from Rutgers University and a B.S. in Marketing from the University in Maryland, and also serves as the Vice Chairperson for Children’s National Medical Center in Washington, D.C.</p>

        <p><span style="line-height: 1.6em;">She lives with her husband, Howard, and their two children, Michelle and Michael, in Brooklyn, NY. &nbsp;</span></p>

      </div>

      <div class="staff-member">
        <h3>Hilton Marcus</h3>

        <h4 class="job-title">General Counsel and Compliance Director</h4>

        <p dir="ltr"><span id="docs-internal-guid-76228ab7-52c2-9595-a092-c27a5d408eb4">In his role as general counsel and compliance director, Hilton directs the Freelancers Health Service Corporation's legal and compliance departments, and supervises the Human Resources department.</span></p>

        <p dir="ltr"><span id="docs-internal-guid-76228ab7-52c2-9595-a092-c27a5d408eb4">Hilton previously served as senior financial analyst and assistant general counsel for the Government of the District of Columbia's Office of the Chief Financial Officer, concentrating on the District's Medicaid program and helping lead the transition of a hospital from a private entity to a publicly owned one. Prior to his work at the District of Columbia government, Hilton worked as an attorney focusing on Medicare, Medicaid, and the 340b drug discount program at the law firm of Powers Pyles Sutter and Verville in Washington, DC, and as a senior policy analyst for the New York State Commission on Healthcare Facilities in the 21st Century (the "Berger Commission").</span></p>

        <p dir="ltr"><span id="docs-internal-guid-76228ab7-52c2-9595-a092-c27a5d408eb4">Hilton received his B.A. in history from Columbia University, a J.D. from the George Washington University School of Law, and an M.P.H. from the Harvard School of Public Health.</span></p>

        <div>&nbsp;</div>
      </div>

    </div>
    <div class="span5">

      <div class="staff-member">
        <h3>Michael Paduano</h3>

        <h4 class="job-title">Director of Finance/CFO</h4>

        <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Michael has more than 19 years of accounting and corporate financial planning experience, all within the health insurance industry. Prior to joining the Freelancers New York COOP, Michael served as the primary financial support to the Wellpoint New York Plan President.</p>

        <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">His career experience spans the range of financial operations, including modeling and forecasting, management reporting, monthly accounting and close, and audit. Michael held positions of increasing responsibility for both Wellpoint and Empire Blue Cross Blue Shield, continuously seeking new challenges and achievements.</p>

        <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Michael holds a B.S. in Accounting from Seton Hall University. He lives in Jersey City, New Jersey with his wife.</p>

      </div>

      <div class="staff-member">
        <h3>Nick Liguori</h3>

        <h4 class="job-title">Chief Operating Officer</h4>

        <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Nick Liguori has over 15 years of experience implementing and managing strategic and operational initiatives at various insurance and healthcare companies. He has held a series of senior operational positions including, Vice President of Strategic Planning for Health Plus, where he established best-in-class strategic planning, business analysis, and performance improvement capabilities thereby accelerating growth across the organization, and Vice President of Health Plan Operations for Amerigroup (NY), where he spearheaded the turnaround of a key business line. Prior to joining Health Republic Insurance, Mr. Liguori most recently served as Vice President of Business Development for Elderplan, where he was responsible for developing, implementing and managing new Medicare/Medicaid programs and provider partnerships, as well as leading other strategic and business development initiatives.</p>

        <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;"><span style="font-size: 14px;">Nick has extensive experience developing and implementing various new federal/state policies and programs, and in the process has worked closely with state and national regulators, the Center for Medicaid and Medicare Services (CMS), and New York State Department of Health.</span></p>

        <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;"><span style="font-size: 14px;">Nick holds B.A. in Math and Political Science from the State University of New York at Albany.</span></p>

        <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;"><span style="font-size: 14px;">He lives with his wife and two sons in Bay Ridge, Brooklyn.</span></p>

      </div>

    </div>
  </div>
</div>