@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-careers">
  <div class="row-fluid">

    <div class="span12">
      <div class="faq-banner"></div>
    </div>

    <div class="main-lead">
      <div class="span3">
        <h3>Careers</h3>
        <ul class="unstyled inline breadcrumbs">
          <li><a href="/">Home</a></li> ›
          <li>Careers</li>
        </ul>
      </div>

      <div class="span7">
        <p>We're looking for passionate, entrepreneurial people that want to be part of the latest innovation in health care – one that will provide more affordable insurance benefits to hundreds of thousands of people.</p>

      </div>


      <div class="span2">
        <div class="pull-right expand-all">[ + ] Expand all</div>
      </div>
    </div>

  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <ul class="unstyled expand-list">

        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Customer Services Specialist</h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan—began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p>We’re collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we’re looking for people who share those qualities. We work in a fast-paced and fun environment, and we’re constantly exploring interesting new ideas.</p>

            <p>The <strong>Customer Service Specialist</strong> individual shall independently perform enterprise- customer level network services and will assume the following job responsibilities:</p>

            <p><strong>Responsibilities:</strong></p>

            <ul>
              <li>Responds to telephone inquiries from members, physicians, other healthcare professionals</li>
              <li>Trains and coach Customer Service Representatives (CSR)</li>
              <li>Run reports to monitor Service Level Agreements (SLA)&nbsp;</li>
              <li>Acts as a liaison between call center and management</li>
              <li>Coordinates quality related customer service data from service activities and reports data to identify ongoing improvement opportunities</li>
              <li>Supports customer service quality metric reviews</li>
              <li>Track and trend performance indicators and defines corrective actions</li>
              <li>Supervises customer escalations/inquiries from the call center</li>
              <li>Assumes additional duties as requested</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Experience and skills needed:</strong></p>

            <ul>
              <li>Strong analytical, interpersonal and customer service team building skills</li>
              <li>Demonstrated understanding of IT fundamentals a plus</li>
              <li>Bilingual (Spanish, Mandarin/Cantonese) is preferred</li>
              <li>Detail and client focused/oriented</li>
              <li>Must be flexible and adapt quickly to change</li>
              <li>Strong organizational, time management and multi-tasking skills</li>
              <li>Strong interpersonal capabilities and ability to work cross-functionally</li>
              <li>Experienced in a call center/service oriented environment</li>
              <li>Knowledge of Microsoft and/network services</li>
              <li>Work independently with minimal guidance&nbsp;</li>
              <li>Must have excellent communication skills, both written and verbal.</li>
              <li>Bachelor's degree, health care experience a plus.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>To apply:</strong></p>

            <p>Send resume and cover letter with salary requirement via email to <a href="mailto:resume@newyork.healthrepublic.us">resume@newyork.healthrepublic.us</a>. Resumes sent without cover/salary requirement will not be considered.&nbsp;</p>

            <p>No phone calls, please.&nbsp;</p>

            <p>Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

            <p>&nbsp;</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Medical Management Coordinator</h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York HRINY is a new,&nbsp;nonprofit, member-driven health plan with just one mission: to bring quality, affordable health insurance to independent workers in New York. The CO-OP— stands for Consumer Operated and Oriented Plan began enrolling New Yorkers in the fall of 2013. &nbsp;We’re looking for passionate, entrepreneurial employee, with an eagerness to learn and who want to be part of the latest innovation in health care -&nbsp;one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p>We’re collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we’re looking for people who share those qualities. We work in a fast-paced and fun environment, and we’re constantly exploring interesting new ideas.</p>

            <p>We are seeking a Coordinator to join our <strong>Medical Management team</strong>. The Coordinator will report to the Chief Medical Officer (CMO). &nbsp;</p>

            <p>&nbsp;</p>

            <p><strong>Responsibilities:</strong></p>

            <ul>
              <li>
                <p>Support Medical Management &nbsp;and cross functional departmental projects;</p>
              </li>
              <li>
                <p>Work closely with staff to set up, maintain and track ongoing databases and reports;</p>
              </li>
              <li>
                <p>Ability to manage and contribute to multiple projects, both individual and team-based;</p>
              </li>
              <li>
                <p>Assist management with data gathering;</p>
              </li>
              <li>
                <p>Manage and help resolve administrative problems&nbsp; (e.g., office equipment/supplies are maintained);</p>
              </li>
              <li>
                <p>Responsible for incoming and outgoing mail, shipping and receiving,</p>
              </li>
              <li>
                <p>Provide support for Human Resources: interview schedule, applicant pool, resume files, orientation, monitoring time sheets</p>
              </li>
              <li>
                <p>Provide support for targeted member/provider communications; correspondences; maintain mailing list, assist with mailings and packets;</p>
              </li>
              <li>
                <p>Daily website and IVR quality checks</p>
              </li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Experience and skills needed:</strong></p>

            <ul>
              <li>Bachelor’s degree, with 3-5 years health care experience and /or related field;</li>
            </ul>

            <ul>
              <li>
                <p>Exceptional organizational, data gathering and&nbsp; facilitation skills;</p>
              </li>
              <li>
                <p>Proficient using new and emerging communication technologies ;</p>
              </li>
              <li>
                <p>Knowledge of Microsoft Excel, Access, Power Point and Word,</p>
              </li>
              <li>Strong experience managing organization efforts for a member-driven health plan;</li>
              <li>
                <p>Excellent written and verbal communication skills, a collaborative work style and an entrepreneurial spirit ;</p>
              </li>
              <li>
                <p>Excellent time management and presentation skills with attention to detail</p>
              </li>
              <li>
                <p>Ability to detail and able to multitask</p>
              </li>
              <li>
                <p>Must be flexible</p>
              </li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>To apply:</strong></p>

            <p>Send a resume and cover letter with salary requirement addressed to <a href="mailto:resume@newyork.healthrepublic.us">resume@newyork.healthrepublic.us</a>. Resumes sent without a cover letter and salary requirement will not be considered. No phone calls, please.</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Director of Strategic Operations, Call Center</h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— we began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p>We're collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we're looking for people who share those qualities. We work in a fast-paced and fun environment, and we're constantly exploring interesting new ideas.</p>

            <p><strong>Our Team:</strong></p>

            <p>The HRINY Strategic Operations department is a high-impact, solution-generating team that provides oversight, thought leadership, and innovation to the business partners and vended systems that deliver our day-to-day operations.</p>

            <p>As part of the team, you will tackle operational challenges, implement a range of fast-moving priority initiatives, and drive impactful change in the organization through risk mitigation practices, project management, data analysis and executive-level presentations.</p>

            <p>Strategic Operations roles require analytical savvy, problem-solving sophistication and drive. It is a fast-paced environment that calls for resourcefulness and creativity.</p>

            <p>&nbsp;</p>

            <p><strong>Job Purpose:</strong></p>

            <p>As a Director of Strategic Operations, you are an analytics and operations expert with a proven ability to drive high impact results through cross-functional teams.</p>

            <p>You have a deep knowledge of the Call center processes, related best practices, performance metrics and back-end infrastructure.</p>

            <p>Working closely with HRINY leadership and business partners, you will use your exceptional analytical skills to derive insights from performance data and inform strategy and decision making across the organization. You persistently explore and uncover the business needs of HRINY members and stakeholders, to better understand how both current and future-state operations can grow to meet and exceed expectations.</p>

            <p>The Director of Strategic Operations for Call center will support ongoing process improvement activities, lead a variety of complex operational projects through the entire project lifecycle, communicate insights with senior stakeholders, and achieve sustained organizational goals.</p>

            <p>&nbsp;</p>

            <p><strong style="line-height: 1.6em;">Responsibilities:</strong></p>

            <ul>
              <li>Work closely with HRINY leadership and vendor partners to gather and analyze the Call center operational information from both internal and external sources, and become an expert in this information.</li>
              <li>Conduct detailed analyses of the Call center processes and procedures.&nbsp; Develop models to explain business performance, identify key issues and risks and uncover meaningful opportunities to improve the business.</li>
              <li>Use statistical techniques to model complex relationships and performance among our vended systems - to develop new issue and risk detections signals and performance measures going forward.</li>
              <li>Lead operational improvement and expansion projects from concept definition to launch, developing and coordinating realistic project estimates, plans and metrics.</li>
              <li>Communicate project status, results and insights through executive-level presentations and ongoing reports.</li>
              <li>Build and maintain effective communication channels across the HRINY teams and vendor partners.</li>
              <li>Build consensus among cross-functional teams and influence decision making within senior-level audiences.</li>
              <li>Structure complex, ambiguous, and potentially charged business issues for&nbsp;senior&nbsp;leadership and serve as a thought-partner in problem-solving them.</li>
              <li>Contribute proactively to the analysis and optimization of all HRINY business processes, tools and partnerships to drive efficiency and scale.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Minimum Qualifications:</strong></p>

            <ul>
              <li>BA/BS degree or equivalent practical experience.</li>
              <li>Minimum 5 years work experience in strategic operations, business transformation, or complex project management.</li>
              <li>Experience identifying risks and opportunities for business improvement by sourcing problems, analyzing data and driving business strategy, as well as measuring the success of those initiatives.</li>
              <li>Excellent problem solving, cross-functional project management and analytical skills.</li>
              <li>Proactive, organized, responsible, and have the&nbsp;proven&nbsp;ability to work well with a team, as well as comfort operating in a rapidly changing and undefined environment.</li>
              <li>Superior project management skills, ability to define projects and execute within timelines and with multiple stakeholders.</li>
              <li>Demonstrated ability to synthesize information to see big picture while effectively managing detail.</li>
              <li>&nbsp;Excellent communication and interpersonal skills, with the ability to be personable yet persistent.</li>
              <li>People management and/or mentorship experience.</li>
              <li>Proficient in spreadsheet and presentation software.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Preferred Qualifications:</strong></p>

            <ul>
              <li>Masters or MBA in related field of study</li>
              <li>Demonstrated analytical ability, including the ability to understand metrics and apply these to potential optimizations.</li>
              <li>LEAN Six Sigma</li>
              <li>Demonstrated ability learning systems and tools, and driving or designing improvements.</li>
              <li>Professional distinction in thought leadership and innovation.</li>
              <li>Experience managing and developing other individuals.</li>
              <li>Track record as a change agent and transformative force in organizational and operational improvements.</li>
              <li>Work cross-functionality; ability to effectively operate with high energy and flexibility in a fast-paced, constantly evolving team environment.</li>
              <li>Experience working on semi-technical initiatives. High level of comfort to leverage technology to achieve goals.</li>
              <li>Program or project management experience in complex health care services organizations.</li>
              <li>Management consulting, corporate strategy, or start-up company experience.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>To apply:</strong></p>

            <p>Send a resume and cover letter with salary requirement via email to resume@newyork.healthrepublic.us. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p>No phone calls, please.</p>

            <p>Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Director of Strategic Operations, Billing and Enrollment </h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— we began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p>We're collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we're looking for people who share those qualities. We work in a fast-paced and fun environment, and we're constantly exploring interesting new ideas.</p>

            <p>&nbsp;</p>

            <p><strong>Our Team:</strong></p>

            <p>The HRINY Strategic Operations department is a high-impact, solution-generating team that provides oversight, thought leadership, and innovation to the business partners and vended systems that deliver our day-to-day operations.</p>

            <p>As part of the team, you will tackle operational challenges, implement a range of fast-moving priority initiatives, and drive impactful change in the organization through risk mitigation practices, project management, data analysis and executive-level presentations.</p>

            <p>Strategic Operations roles require analytical savvy, problem-solving sophistication and drive. It is a fast-paced environment that calls for resourcefulness and creativity.</p>

            <p>&nbsp;</p>

            <p><strong>Job Purpose:</strong></p>

            <p>As a Director of Strategic Operations, you are an analytics and operations expert with a proven ability to drive high impact results through cross-functional teams.</p>

            <p>You have a deep knowledge of the Billing &amp; Enrollment processes, related best practices, performance metrics and back-end infrastructure.</p>

            <p>Working closely with HRINY leadership and business partners, you will use your exceptional analytical skills to derive insights from performance data and inform strategy and decision making across the organization. You persistently explore and uncover the business needs of HRINY members and stakeholders, to better understand how both current and future-state operations can grow to meet and exceed expectations.</p>

            <p>The Director of Strategic Operations for Billing &amp; Enrollment will support ongoing process improvement activities, lead a variety of complex operational projects through the entire project lifecycle, communicate insights with senior stakeholders, and achieve sustained organizational goals.</p>

            <p>&nbsp;</p>

            <p><strong>Responsibilities:</strong></p>

            <ul>
              <li style="margin-left: 6pt;">Work closely with HRINY leadership and vendor partners to gather and analyze the billing &amp; enrollment operational information from both internal and external sources, and become an expert in this information.</li>
              <li style="margin-left: 6pt;">Conduct detailed analyses of the billing &amp; enrollment processes and procedures.&nbsp; Develop models to explain business performance, identify key issues and risks and uncover meaningful opportunities to improve the business.</li>
              <li style="margin-left: 6pt;">Use statistical techniques to model complex relationships and performance among our vended systems - to develop new issue and risk detections signals and performance measures going forward.</li>
              <li style="margin-left: 6pt;">Lead operational improvement and expansion projects from concept definition to launch, developing and coordinating realistic project estimates, plans and metrics.</li>
              <li style="margin-left: 6pt;">Communicate project status, results and insights through executive-level presentations and ongoing reports.</li>
              <li style="margin-left: 6pt;">Build and maintain effective communication channels across the HRINY teams and vendor partners.</li>
              <li style="margin-left: 6pt;">Build consensus among cross-functional teams and influence decision making within senior-level audiences.</li>
              <li style="margin-left: 6pt;">Structure complex, ambiguous, and potentially charged business issues for&nbsp;senior&nbsp;leadership and serve as a thought-partner in problem-solving them.</li>
              <li style="margin-left: 6pt;">Contribute proactively to the analysis and optimization of all HRINY business processes, tools and partnerships to drive efficiency and scale.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Minimum Qualifications:</strong></p>

            <ul>
              <li style="margin-left: 6pt;">BA/BS degree or equivalent practical experience.</li>
              <li style="margin-left: 6pt;">Minimum 5 years work experience in strategic operations, business transformation, or complex project management.</li>
              <li style="margin-left: 6pt;">Experience identifying risks and opportunities for business improvement by sourcing problems, analyzing data and driving business strategy, as well as measuring the success of those initiatives.</li>
              <li style="margin-left: 6pt;">Excellent problem solving, cross-functional project management and analytical skills.</li>
              <li style="margin-left: 6pt;">Proactive, organized, responsible, and have the&nbsp;proven&nbsp;ability to work well with a team, as well as comfort operating in a rapidly changing and undefined environment.</li>
              <li style="margin-left: 6pt;">Superior project management skills, ability to define projects and execute within timelines and with multiple stakeholders.</li>
              <li style="margin-left: 6pt;">Demonstrated ability to synthesize information to see big picture while effectively managing detail.</li>
              <li style="margin-left: 6pt;">Excellent communication and interpersonal skills, with the ability to be personable yet persistent.</li>
              <li style="margin-left: 6pt;">People management and/or mentorship experience.</li>
              <li style="margin-left: 6pt;">Proficient in spreadsheet and presentation software.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Preferred Qualifications:</strong></p>

            <ul>
              <li style="margin-left: 6pt;">Masters or MBA in related field of study</li>
              <li style="margin-left: 6pt;">Demonstrated analytical ability, including the ability to understand metrics and apply these to potential optimizations.</li>
              <li style="margin-left: 6pt;">LEAN Six Sigma</li>
              <li style="margin-left: 6pt;">Demonstrated ability learning systems and tools, and driving or designing improvements.</li>
              <li style="margin-left: 6pt;">Professional distinction in thought leadership and innovation.</li>
              <li style="margin-left: 6pt;">Experience managing and developing other individuals.</li>
              <li style="margin-left: 6pt;">Track record as a change agent and transformative force in organizational and operational improvements.</li>
              <li style="margin-left: 6pt;">Work cross-functionality; ability to effectively operate with high energy and flexibility in a fast-paced, constantly evolving team environment.</li>
              <li style="margin-left: 6pt;">Experience working on semi-technical initiatives. High level of comfort to leverage technology to achieve goals.</li>
              <li style="margin-left: 6pt;">Program or project management experience in complex health care services organizations.</li>
              <li style="margin-left: 6pt;">Management consulting, corporate strategy, or start-up company experience.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>To apply:</strong></p>

            <p>Send a resume and cover letter with salary requirement via email to resume@newyork.healthrepublic.us. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p>No phone calls, please.</p>

            <p>Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Director of Strategic Operations, Claims</h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— we began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p>We're collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we're looking for people who share those qualities. We work in a fast-paced and fun environment, and we're constantly exploring interesting new ideas.</p>

            <p>&nbsp;</p>

            <p><strong>Our Team:</strong></p>

            <p>The HRINY Strategic Operations department is a high-impact, solution-generating team that provides oversight, thought leadership, and innovation to the business partners and vended systems that deliver our day-to-day operations.</p>

            <p>As part of the team, you will tackle operational challenges, implement a range of fast-moving priority initiatives, and drive impactful change in the organization through risk mitigation practices, project management, data analysis and executive-level presentations.</p>

            <p>Strategic Operations roles require analytical savvy, problem-solving sophistication and drive. It is a fast-paced environment that calls for resourcefulness and creativity.</p>

            <p>&nbsp;</p>

            <p><strong>Job Purpose:</strong></p>

            <p>As a Director of Strategic Operations, you are an analytics and operations expert with a proven ability to drive high impact results through cross-functional teams.</p>

            <p>You have a deep knowledge of claims processes, related best practices, performance metrics and back-end infrastructure.</p>

            <p>Working closely with HRINY leadership and business partners, you will use your exceptional analytical skills to derive insights from performance data and inform strategy and decision making across the organization. You persistently explore and uncover the business needs of HRINY members and stakeholders, to better understand how both current and future-state operations can grow to meet and exceed expectations.</p>

            <p>The Director of Strategic Operations for Claims will support ongoing claims process improvement activities, lead a variety of complex operational projects through the entire project lifecycle, communicate insights with senior stakeholders, and achieve sustained organizational goals.</p>

            <p>&nbsp;</p>

            <p><strong>Responsibilities:</strong></p>

            <ul>
              <li style="margin-left: 6pt;">Work closely with HRINY leadership and vendor partners to gather and analyze claims operation information from both internal and external sources, and become an expert in this information.</li>
              <li style="margin-left: 6pt;">Conduct detailed analyses of claims processes and procedures.&nbsp; Develop models to explain business performance, identify key issues and risks and uncover meaningful opportunities to improve the business.</li>
              <li style="margin-left: 6pt;">Use statistical techniques to model complex relationships and performance among our vended systems - to develop new issue and risk detections signals and performance measures going forward.</li>
              <li style="margin-left: 6pt;">Lead operational improvement and expansion projects from concept definition to launch, developing and coordinating realistic project estimates, plans and metrics.</li>
              <li style="margin-left: 6pt;">Communicate project status, results and insights through executive-level presentations and ongoing reports.</li>
              <li style="margin-left: 6pt;">Build and maintain effective communication channels across the HRINY teams and vendor partners.</li>
              <li style="margin-left: 6pt;">Build consensus among cross-functional teams and influence decision making within senior-level audiences.</li>
              <li style="margin-left: 6pt;">Structure complex, ambiguous, and potentially charged business issues for&nbsp;senior&nbsp;leadership and serve as a thought-partner in problem-solving them.</li>
              <li style="margin-left: 6pt;">Contribute proactively to the analysis and optimization of all HRINY business processes, tools and partnerships to drive efficiency and scale.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Minimum Qualifications:</strong></p>

            <ul>
              <li style="margin-left: 6pt;">BA/BS degree or equivalent practical experience.</li>
              <li style="margin-left: 6pt;">Minimum 5 years work experience in strategic operations, business transformation, or complex project management.</li>
              <li style="margin-left: 6pt;">Experience identifying risks and opportunities for business improvement by sourcing problems, analyzing data and driving business strategy, as well as measuring the success of those initiatives.</li>
              <li style="margin-left: 6pt;">Excellent problem solving, cross-functional project management and analytical skills.</li>
              <li style="margin-left: 6pt;">Proactive, organized, responsible, and have the&nbsp;proven&nbsp;ability to work well with a team, as well as comfort operating in a rapidly changing and undefined environment.</li>
              <li style="margin-left: 6pt;">Superior project management skills, ability to define projects and execute within timelines and with multiple stakeholders.</li>
              <li style="margin-left: 6pt;">Demonstrated ability to synthesize information to see big picture while effectively managing detail.</li>
              <li style="margin-left: 6pt;">Excellent communication and interpersonal skills, with the ability to be personable yet persistent.</li>
              <li style="margin-left: 6pt;">People management and/or mentorship experience.</li>
              <li style="margin-left: 6pt;">Proficient in spreadsheet and presentation software.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Preferred Qualifications:</strong></p>

            <ul>
              <li style="margin-left: 6pt;">Masters or MBA in related field of study</li>
              <li style="margin-left: 6pt;">Demonstrated analytical ability, including the ability to understand metrics and apply these to potential optimizations.</li>
              <li style="margin-left: 6pt;">LEAN Six Sigma</li>
              <li style="margin-left: 6pt;">Demonstrated ability learning systems and tools, and driving or designing improvements.</li>
              <li style="margin-left: 6pt;">Professional distinction in thought leadership and innovation.</li>
              <li style="margin-left: 6pt;">Experience managing and developing other individuals.</li>
              <li style="margin-left: 6pt;">Track record as a change agent and transformative force in organizational and operational improvements.</li>
              <li style="margin-left: 6pt;">Work cross-functionality; ability to effectively operate with high energy and flexibility in a fast-paced, constantly evolving team environment.</li>
              <li style="margin-left: 6pt;">Experience working on semi-technical initiatives. High level of comfort to leverage technology to achieve goals.</li>
              <li style="margin-left: 6pt;">Program or project management experience in complex health care services organizations.</li>
              <li style="margin-left: 6pt;">Management consulting, corporate strategy, or start-up company experience.</li>
            </ul>

            <p style="margin-left: 6pt;">&nbsp;</p>

            <p><strong>To apply:</strong></p>

            <p>Send a resume and cover letter with salary requirement via email to resume@newyork.healthrepublic.us. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p>No phone calls, please.</p>

            <p>Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Data Warehouse / Business Intelligence Developer</h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— we began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p>We're collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we're looking for people who share those qualities. We work in a fast-paced and fun environment, and we're constantly exploring interesting new ideas.</p>

            <p><strong><span style="line-height: 1.6em;">Job Purpose:&nbsp; </span></strong></p>

            <p><span style="line-height: 1.6em;">The Data Warehouse/Business Intelligence Developer reports to the Director, Data Warehousing and works closely with users and developers in the organization.&nbsp; The DW/BI Developer has significant hands-on responsibilities to create, maintain, and administer ETL and Reporting jobs, to support the data and reporting needs of the organization.</span></p>

            <p><strong>Responsibilities:</strong></p>

            <ul>
              <li><span style="line-height: 1.6em;">Work closely with our clients as part of a development team to evaluate requirements and develop BI / DW solutions</span></li>
              <li>Work closely with our DBA to design/implement/maintain the Data Warehouse and Business Intelligence solutions.</li>
              <li>Analyze data for opportunities for data quality, and improved data architecture.</li>
              <li>Develop ETL mappings, procedures, schedules and perform ETL</li>
              <li>Develop procedures to ensure data is fed through the data warehouse properly</li>
              <li>Coordinate activities with data source application owners to ensure integration and data integrity</li>
              <li>Develop standard reporting structures, dashboards, drilldowns, etc.&nbsp;</li>
              <li>Contribute to developing ETL/reporting standards for the organization.</li>
              <li>Contribute to team effort and vision by contributing to the state of the technical solutions in the organization.</li>
              <li>Develop metadata, source to target mappings, and production run books, etc. as needed.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Skills &amp; Qualifications:</strong></p>

            <ul>
              <li>Minimum 3+ years of hands on professional development experience</li>
              <li>Strong technical experience in ETL tools (SSIS), Databases (SQL Server), reporting (SSRS, Qlikview, SAS), Sharepoint, Microsoft Office Suite – Excel, Access, PowerPoint, etc.</li>
              <li>Good knowledge of standard concepts, best practices, and procedures within a Data Warehouse/Business Intelligence environment</li>
              <li>Excellent organizational and communication skills to work in a fast-paced environment and manage and prioritize multiple tasks simultaneously</li>
              <li>Healthcare experience a plus.</li>
              <li>Experience with EDI formats, 834, 837, etc. strongly preferred.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>To apply:</strong></p>

            <p>Send a resume and cover letter with salary requirement via email to <a href="mailto:resume@newyork.healthrepublic.us">resume@newyork.healthrepublic.us</a>. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p>No phone calls, please.</p>

            <p>Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>IT Trainer / Application-System Support Specialist</h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— we began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p>We're collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we're looking for people who share those qualities. We work in a fast-paced and fun environment, and we're constantly exploring interesting new ideas.</p>

            <p><strong style="line-height: 1.6em;">Job Purpose: </strong><span style="line-height: 1.6em;">Our organization will be introducing new hardware software and systems to increase the productivity and efficiency of our staff. In order to optimize product roll outs and ongoing use, it is essential that we provide education and ongoing user support on these technologies</span></p>

            <p><strong>Responsibilities:</strong></p>

            <ul style="">
              <li>Take lead for all IT training with both identification of training gaps and execution</li>
              <li>Training Microsoft Office Products</li>
              <li>Preparation of training programs and curriculum</li>
              <li>Train staff in use of new hardware including laptops, cell phones and related accessories</li>
              <li>Train staff in use of software both purchased and developed</li>
              <li>Plan and perform group trainings where required</li>
              <li>Create training and reference material as needed</li>
              <li>Create Web training where necessary</li>
            </ul>

            <p style="margin-left: .75in;">&nbsp;</p>

            <p><strong style="line-height: 1.6em;">Skills &amp; Qualifications:</strong></p>

            <ul style="">
              <li>Self-Starter</li>
              <li>Proficient in Microsoft Office products for both use and training</li>
              <li>Must be quick study on application and systems</li>
              <li>Must have prior experience with IT training</li>
              <li>Must have experience training end users in the use of software and systems</li>
              <li>Must possess outstanding communication skills</li>
              <li>Must work well in a team environment</li>
            </ul>

            <p style="margin-left: .25in;">&nbsp;</p>

            <p><strong>To apply</strong>:</p>

            <p>Send a resume and cover letter with salary requirement via email to <a href="mailto:resume@newyork.healthrepublic.us">resume@newyork.healthrepublic.us</a>. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p>No phone calls, please.</p>

            <p>Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Software Solutions Developer</h3>
          <div class="expand-content" style="display: block;">
            <p><span style="line-height: 1.6em;">Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</span></p>

            <p>&nbsp;</p>

            <p>We're collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we're looking for people who share those qualities. We work in a fast-paced and fun environment, and we're constantly exploring interesting new ideas.</p>

            <p>The Software Solutions Developer reports to the Director of Application &amp; Systems Programming. This highly visible position is responsible for planning, design, programming and implementation of .NET software solutions in support of organizational goals and initiatives.</p>

            <p>&nbsp;</p>

            <p><strong>Responsibilities:</strong></p>

            <ul>
              <li>Work closely with the Director in planning, design, creation, and implementation of scalable web solutions using Microsoft Visual Studio.</li>
              <li>Participate in and contribute to architecture, set-up and implementation of internal and public facing web presence.</li>
              <li>Work with end users at all levels of the organization to develop and evaluate business/organizational requirements.</li>
              <li>Document, organize and create/optimize code as needed while adhering to full SDLC.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Experience &amp; skills needed:</strong></p>

            <ul>
              <li>Minimum 3+ years of hands on object-oriented development experience in a Microsoft software development environment, including C# and/or VB.NET in Visual Studio 2012-2013.</li>
              <li>Strong technical expertise of SQL Server development with high availability transactional/relational databases.</li>
              <li>Proficiency in development of web services, MVC/SOAP/AJAX, and ASP.NET.</li>
              <li>Intermediate level expertise in web security protocols within the .NET framework, including: WIF/WFC as well as SSL, HTTPS, OAUTH2, and SAML.</li>
              <li>Understanding of web server architectures and IIS 7.</li>
              <li>Ability to take direction for working independently as well as operate within a collaborative team setting.</li>
              <li>Excellent organization and communication skills, working in a fast-paced, dynamic environment.</li>
              <li>Ability to manage and prioritize numerous tasks/projects simultaneously.</li>
              <li>Bachelor’s Degree in Computer Science or Information Systems, or equivalent experience</li>
              <li>Knowledge of Microsoft SharePoint a plus.</li>
              <li>Healthcare experience a plus.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>To apply:</strong></p>

            <p>Send a resume and cover letter with salary requirement via email to&nbsp;<a href="mailto:resume@newyork.healthrepublic.us">resume@newyork.healthrepublic.us</a>. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p>No phone calls, please.</p>

            <p>Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

            <p>&nbsp;</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Graphic Designer</h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p><strong>Job Purpose:</strong></p>

            <p>The Graphic Designer will report to the Director of Communications and work closely with the communications team to develop design solutions across print and digital platforms.</p>

            <p><strong>Responsibilities:</strong></p>

            <ul>
              <li>Design brochures, posters, flyers, banners, HTML emails, web graphics, landing pages as well as other types of print and electronic promotional material.</li>
              <li>Support organization branding guidelines Develop concepts and execute design in both print and digital media for programs across the organization.</li>
              <li>Serve as in-house designer for the organization If and when the project requires use of an outside consultant designer, this role will serve as liaison for the project.</li>
              <li>Plan creative approaches and production of print and online materials (presentations, newsletters, brochures, etc.) and select media and processes to be utilized.</li>
              <li>Work with multiple departments to present complex statistical reports and data in a compelling and logical, visual way.</li>
              <li>Ensure that all materials carry the organization brand consistently.</li>
              <li>Produce time estimates and maintain production schedules.&nbsp; Keep key stakeholders appraised on status of assignments.</li>
              <li>Work with outside vendors for printing, photography, and other services as needed.</li>
              <li>Produce Visio, Prezi, and PowerPoint presentations as needed.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Skills &amp; Qualifications</strong></p>

            <ul>
              <li>Bachelor’s degree required.</li>
              <li>Minimum of two (2) years’ experience in a corporate graphic design environment.</li>
              <li>Experience with Microsoft Office Suite including Visio and Adobe Creative Suite 5.0 or higher.</li>
              <li>Some HTML experience required.</li>
              <li>Print production experience required.</li>
              <li>Prezi experience preferred.</li>
              <li>Web/digital experience and drawing/illustrating ability preferred.</li>
              <li>Track record of successfully adhering to and meeting strict deadlines required.</li>
              <li>Ability to communicate with all levels of organization with effective and professional written and verbal communication skills.</li>
              <li>Demonstrated professionalism in business environments preferred.</li>
            </ul>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">&nbsp;</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;"><strong style="font-family: 'Avenir LT W01 95 Black', Helvetica, Arial, sans-serif;">To apply:</strong></p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">Send a resume and cover letter with salary requirement via email to resume@newyork.healthrepublic.us. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">No phone calls, please.</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Media Relations Manager</h3>
          <div class="expand-content" style="display: block;">
            <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</span></p>

            <p><strong>Job Purpose:</strong></p>

            <p>The Media Relations Manager conducts proactive media outreach to obtain positive coverage of Health Republic Insurance of New York, and develops the initial response to media inquiries. The Media Relations Manager is also responsible for developing letters-to-the-editor, od-eds, and policy articles. The position will have significant writing responsibilities. &nbsp;</p>

            <p><strong>Key Responsibilities:</strong></p>

            <p>Reporting to the Senior Vice President of Government Relations and Communications, the Media Relations Manager's job duties and responsibilities will include, but not be limited to:</p>

            <ul>
              <li>Manage incoming press inquiries to Health Republic Insurance of New York (HRINY) and develop a response working with relevant HRINY departments;</li>
              <li>Draft talking points for leadership media interviews;</li>
              <li>Pitch proactive stories to the media highlighting HRINY's benefits and successes, including member human interest stories;</li>
              <li>Draft op-eds, trade news stories, and policy articles for HRINY leadership;</li>
              <li>Research and obtain opportunities for leadership to present at industry and policy forums;</li>
              <li>Write and edit content for in-house and external communication tools including web site, publications, and newsletters;</li>
              <li>Respond to a wide variety of public information inquiries.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Skills &amp; Qualifications</strong></p>

            <ul>
              <li>The preferred candidate should possess 2-3 years of experience either as a communications specialist or journalist; Bachelor's degree in English, journalism, communications, or related applicable field required;&nbsp;</li>
              <li>Excellent communications skills including past experience handling calls from the press;&nbsp;</li>
              <li>Exceptional writing proficiency, including developing press releases, talking points, and thought leader pieces for placement;</li>
              <li>The ideal candidate will be a self-directed, problem solver, capable of multi-tasking and handling a fast-paced, deadline driven environment.</li>
            </ul>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">&nbsp;</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;"><strong style="font-family: 'Avenir LT W01 95 Black', Helvetica, Arial, sans-serif;">To apply:</strong></p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">Send a resume and cover letter with salary requirement via email to resume@newyork.healthrepublic.us. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">No phone calls, please.</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Financial Analyst</h3>
          <div class="expand-content" style="display: block;">
            <p>Health Republic Insurance of New York is seeking a Financial Analyst.&nbsp; Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers.&nbsp; The CO-OP, or Consumer Operated and Oriented Plan, began enrolling New Yorkers in the fall of 2013. We are looking for passionate, entrepreneurial employees who want to be part of the latest innovation in healthcare—one that will provide more affordable insurance benefits to thousands of New Yorkers.</p>

            <p><span style="line-height: 1.6em;">We're collaborative, friendly, open-minded, adaptable, creative, and action-oriented, and we're looking for people who share those qualities. We work in a fast-paced and fun environment, and we're constantly exploring interesting new ideas.</span></p>

            <p><strong style="line-height: 1.6em;">Job Purpose:</strong></p>

            <p>The Financial Analyst will report to and assist the Manager of Financial Planning &amp; Analysis in the analysis of the company’s actual results and preparation of forecasts, budgets and long-term plans. Senior management heavily depends on Financial Planning and Analysis, and the outcome of FP&amp;A analyses is usually a significant factor in making important and strategic decisions.</p>

            <p><strong style="line-height: 1.6em;">Key Responsibilities:</strong></p>

            <ul>
              <li>Assist in the development of forecast and budget processes</li>
              <li>Assist in the development of short and long-term strategic plans</li>
              <li>Prepare management reporting of actual results versus budgets</li>
              <li>Participate in month-end close analysis and monthly forecast process</li>
              <li>Analyze actual results and assist in preparing forecasts, budgets and long-range plans</li>
              <li>Assist in preparing annual budget</li>
              <li>Assist in preparing presentations that effectively communicate and summarize an analysis and facilitate decision-making for senior management and the Board of Directors.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Skills &amp; Qualifications</strong></p>

            <ul style="">
              <li>Bachelor’s Degree in Accounting or Finance</li>
              <li>Two (2) or more years of accounting experience, with some corporate financial planning and analysis experience in Healthcare or Insurance industries</li>
              <li>Demonstrated ability to think independently and take ownership of duties</li>
              <li>Exceptional planning, analytical, and problem-solving skills, and strong quantitative and statistical modeling skills</li>
              <li>Outstanding technology skills, including strong proficiency with MS Office suite</li>
              <li>Outstanding communication skills</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>To apply:</strong></p>

            <p>Send a resume and cover letter with salary requirement via email to <a href="mailto:resume@newyorkcoop.org">resume@newyorkcoop.org</a>. Resumes sent without a cover letter/salary requirement will not be considered. No phone calls, please.</p>

            <p><span style="line-height: 1.6em;">Freelancers Health Service Corporation does not discriminate on the basis of race, sex, color, religion, national origin, age, disability, or veteran status in its programs, activities, or employment practices.</span></p>

          </div>
        </li>


        <li class="expand-group active">
          <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Mobile Software Solutions Developer</h3>
          <div class="expand-content" style="display: block;">
            <p><span style="color: rgb(51, 51, 51); font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px; background-color: rgb(255, 255, 255);">Health Republic Insurance of New York is a new, nonprofit, member-driven health plan bringing quality, affordable health insurance to New Yorkers. The CO-OP—which stands for Consumer Operated and Oriented Plan— began enrolling New Yorkers in the fall of 2013. We’re looking for passionate, entrepreneurial employees who want to be part of the latest innovation in health care—one that will provide more affordable insurance benefits to thousands of New Yorkers.</span></p>

            <p><strong>Job Purpose:&nbsp; </strong></p>

            <p>The Mobile Software Solutions Developer reports to the Director of Application &amp; Systems Programming. This highly visible position is responsible for analysis, design, programming and implementation of mobile applications and web based software solutions in support of organizational goals and initiatives.</p>

            <p><strong>Key Responsibilities:</strong></p>

            <ul>
              <li>Work closely with the Director in planning, design, creation, testing and implementation of scalable/flexible, data driven mobile applications in IOS, Android, and Windows Phone in addition to mobile web solutions based within Microsoft Visual Studio.</li>
              <li>Participate in and contribute to architecture, set-up and implementation of internal and public facing mobile applications presence.</li>
              <li>Publish mobile applications to respective platform stores/markets and follow established protocols of each.</li>
              <li>Work with end users at all levels of the organization to develop and evaluate business/organizational requirements.</li>
              <li>Document, organize and create/optimize code as needed while adhering to full SDLC.</li>
            </ul>

            <p>&nbsp;</p>

            <p><strong>Skills &amp; Qualifications</strong></p>

            <ul>
              <li>Minimum 3+ years of hands on object-oriented development experience in a Microsoft software development environment, with expert knowledge of C#.</li>
              <li>Proven experience in development of XMAL, WinJS, JavaScript, and HTML5 mobile applications and web applications.</li>
              <li>Strong technical expertise of SQL Server development with high availability transactional/relational databases.</li>
              <li><span style="line-height: 1.6em;">Aptitude and skill for supporting 3 mobile platforms: Android, IOS, and Windows Phone 8+ while developing a standard development framework for each.</span></li>
              <li>Ability to take direction for working independently as well as operate within a collaborative team setting.</li>
              <li>Excellent organization and communication skills, working in a fast-paced, dynamic environment.</li>
              <li>Ability to manage and prioritize numerous tasks/projects simultaneously.</li>
              <li>Adaptable to constant changes and shifts in a competitive industry, with ability to recognize these changes and respond accordingly at the direction of management.</li>
              <li>Bachelor’s Degree in Computer Science or Information Systems, or equivalent experience</li>
              <li>Knowledge of Microsoft SharePoint development a plus.</li>
              <li>Familiarity with Xamarin a plus.</li>
              <li>Healthcare experience a plus.</li>
            </ul>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">&nbsp;</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;"><strong style="font-family: 'Avenir LT W01 95 Black', Helvetica, Arial, sans-serif;">To apply:</strong></p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">Send a resume and cover letter with salary requirement via email to resume@newyork.healthrepublic.us. Resumes sent without a cover letter/salary requirement will not be considered.</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">No phone calls, please.</p>

            <p style="margin: 0px 0px 10px; font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22.399999618530273px;">Qualified applicants are considered for all positions without regard to race, color, religion, sex, sexual orientation, national origin, age, marital status, the presence of a non-job related medical condition or disability, or any other legally protected status. Women and minorities are especially encouraged to apply.</p>

          </div>
        </li>


      </ul>
    </div>
  </div>
</div>