<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Health Republic Insurance of New York</title>
  <meta http-equiv="cache-control" content="public">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="follow, all">
  <meta name="language" content="en-us">
  <meta content="text/css" http-equiv="Content-Style-Type">
  <meta name="author" content="Health Republic Insurance of New York">
  <meta name="description"
        content="Health Republic Insurance of New York is a non-profit consumer operated and oriented health insurance plan serving the people of New York State.">
  <meta name="keywords"
        content="Health Republic,Health Republic Insurance,CO-OP,Health Services,Consumer Operated and Oriented Plan,Affordable Care Act,Health Republic Insurance of New York,New York co-op,New York coop,Health Republic New York,Health Republic Insurance New York">
  <meta property="og:site_name" content="Health Republic Insurance of New York">
  <meta property="og:type" content="non_profit">
  <meta property="og:title" content="Home">
  <meta property="og:description"
        content="Health Republic Insurance of New York is a non-profit consumer operated and oriented health insurance plan serving the people of New York State.">
  <meta property="og:url" content="http://newyork.healthrepublic.us/">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://newyork.healthrepublic.us/">
  <meta name="twitter:title" content="Home">
  <meta name="twitter:description"
        content="Health Republic Insurance of New York is a non-profit consumer operated and oriented health insurance plan serving the people of New York State.">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="css/fonts.css">
  <link type="text/css" rel="stylesheet" href="css/styles.css" media="screen">
</head>
<body lang="en" class="hri hri-common hri-newyork">
  <div class="container">
    @Html.Partial("TopBar.LoggedOut")
    <div class="row-fluid">
      <div class="span12">
        <div id="main">
          @Html.Partial("Header.LoggedOut")
          @RenderBody();
          @Html.Partial("Footer.LoggedOut")
        </div>
      </div>
    </div>
  </div>
  <!-- body -->
  <script src="Scripts/jquery-1.9.1.js"></script>
  <script src="Scripts/custom.js"></script>
</body>
</html>