@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-staff">
  <div class="row-fluid">
    <div class="main-lead">
      <div class="span4">
        <h3>Broker</h3>
        <ul class="unstyled inline breadcrumbs">
          <li><a href="/">Home</a></li> ›
          <li>Broker</li>
        </ul>
      </div>

      <div class="span7 offset1">
        <p>Welcome to the Health Republic Broker Family.&nbsp;<span style="line-height: 1.6em;">Your clients trust you to assist them with the increasingly challenging job of keeping employees healthy while effectively managing costs. That’s where we come in.&nbsp;</span><span style="line-height: 1.6em;">Your Health Republic Broker&nbsp;team can support a successful partnership with your individual and small group clients by providing you with low-cost, high-value plan options. Plus, we give you with the information, tools and marketing resources you need to be effective.</span></p>

      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">

      <div class="generic-block">
        <h3>News and Updates</h3>

        <p><strong>Events</strong></p>

        <p><strong>Product Training:</strong> We offer regular workshops and webinars so you can learn about our portfolio of products and how Health Republic will help your business grow. Our plans are priced competitively to meet the special needs of both small group clients and Individuals.&nbsp;<span style="line-height: 1.6em;">Sign up to receive information on &nbsp;training dates and locations— join&nbsp;our Broker Mailing List by <a href="http://eepurl.com/HmCoj">clicking here</a></span>.</p>

        <p><strong>Broker News and Updates:&nbsp;</strong><span style="line-height: 1.6em;">Our periodic e-newsletter will keep you up-to-speed on the latest developments and tell you how to optimize your partnership with us. <a target="_blank" href="http://eepurl.com/FfLQP">Sign up</a> today to stay connected.</span></p>

      </div>

      <div class="generic-block">
        <h3>Contact Us</h3>

        <p>We are committed to sustaining a long, mutually rewarding partnership with you.&nbsp; Contact us anytime. We are ready to assist you.</p>

        <h4>Individual and Small Group Sales Team</h4>

        <ul>
          <li><b>Email</b>: &nbsp;<a href="mailto:brokers@newyork.healthrepublic.us">brokers@newyork.healthrepublic.us</a></li>
          <li><strong>Phone</strong>: 646-679-4661</li>
          <li><strong>Mailing Address:</strong></li>
        </ul>

        <p style="margin-left: 40px;">
          Health Republic Insurance of New York<br>
          Attn: Sales Department<br>
          30 Broad Street - 34th Floor<br>
          New York, New York 10004
        </p>

        <ul>
          <li><strong>Broker Administration (Appointments/Commissions/Bonuses)</strong>: 646-679-4661</li>
        </ul>

      </div>

    </div>
    <div class="span5">

      <div class="generic-block">
        <h3>Quick Links</h3>

        <ul>
          <li><strong>Broker/Agency&nbsp;Appointment: </strong><a href="https://www.ainsight.com/nomoreforms/logon?type=client_nonins&amp;clientCode=hrny&amp;clientpswd=nyhealth">Click Here</a> to be directed to our online Broker Appointment website.</li>
          <li>
            <strong>Benefit Summaries: </strong>Our Broker tools help you quickly understand our plans. <a href="mailto:broker@newyork.healthrepublic.us">Contact us</a>&nbsp;to receive the tool kit. &nbsp;Your tools for individual and small group plans include:
            <ul>
              <li>Portfolio spreadsheets</li>
              <li>Plan highlights</li>
              <li>Medical benefit summaries</li>
              <li>Service area maps</li>
              <li>Rate Sheet</li>
            </ul>
          </li>
          <li>
            <strong>Plans/Providers: </strong>Check out our plans and products here.
            <ul>
              <li><strong><a href="/individual/">Individuals</a>&nbsp;</strong></li>
              <li><a href="/small-group/"><strong>Small Group</strong></a></li>
            </ul>
          </li>
          <li>
            <strong>Quoting Tools: &nbsp;</strong>We make it easy. Your broker team provides quick reference tools to help you educate clients about the cost savings available through Health Republic plans.<strong> </strong>
            <ul>
              <li>Individual &amp; Family – <a href="/shop">Online quotes</a></li>
              <li>Small Group –Available soon on Healthconnect Systems</li>
            </ul>
          </li>
        </ul>

        <p><strong>Call us anytime at <font face="Arial, sans-serif"><span style="font-size: 14.44444465637207px; line-height: 20px;">888.990.5702</span></font></strong>&nbsp;<strong>for a quote or other needs.</strong> We are here to help.</p>

      </div>

    </div>
  </div>
</div>