@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-staff">
  <div class="row-fluid">
    <div class="main-lead">
      <div class="span4">
        <h3>Provider</h3>
        <ul class="unstyled inline breadcrumbs">
          <li><a href="/">Home</a></li> ›
          <li>Provider</li>
        </ul>
      </div>

      <div class="span7 offset1">
        <p>How do we balance our primary goal of providing affordable care with the needs of the doctors and other medical providers who care for our members? We listen to our community. Our Provider Manual and supporting materials are the start of the conversation but we want to hear from you and establish a genuine dialogue and collaboration.</p>

      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">

      <div class="generic-block">
        <h3>Provider Portal</h3>

        <p>The Health Republic Provider Portal provides you and your staff access to important information, news and tools designed to keep you up-to-date on your patient’s eligibility and claims. Simply <a href="https://secure.healthx.com/providerportalhealthrepublicny.aspx">click here</a> to register. &nbsp;The fast and easy one-time registration will give you immediate access to all the benefits of the Portal including:</p>

        <ul>
          <li>Claims Look Up</li>
          <li>Eligibility Information&nbsp;</li>
          <li>Secure Messaging System&nbsp;</li>
        </ul>

        <p>If you have any questions or need any assistance please call our Provider Support team.</p>

        <p>
          For technical log in or registration issues please call 877-492-3633&nbsp;<br>
          For Benefit questions please call 888-990-5702 prompt 3
        </p>

      </div>

      <div class="generic-block">
        <h3>Our Reimbursement Philosophy</h3>

        <p>Here are a few key points to get the conversation started:</p>

        <p><strong><u>General Reimbursement</u></strong>: In the first year, reimbursement is based on a fee-for-service model. But, once we have data about our members and their needs, we will add quality incentives and move towards alternative payment models. This will allow better alignment between reimbursement and our shared objective of improved clinical outcomes.</p>

        <p><strong><u>Care Coordination Reimbursement</u></strong>: We understand coordination of care is increasingly complex, and you need support.&nbsp; To reinforce physician involvement in care transitions and episodic care, we reimburse for:</p>

        <ul>
          <li>Telephone Evaluation and Management Services</li>
          <li>On-line Evaluation and Management Service</li>
          <li>Transitional Care Management Services</li>
        </ul>

        <p><strong><u>Counseling and Risk Factor Reduction Reimbursement</u></strong>: To help physicians spend their time advising patients about their health, we reimburse the following services:</p>

        <ul>
          <li>Smoking Cessation Counseling, Alcohol and Substance Abuse Counseling</li>
          <li>&nbsp;Preventive Medicine Individual and Group Counseling</li>
        </ul>

      </div>

      <div class="generic-block">
        <h3>Frequently Asked Questions</h3>

        <ul class="unstyled expand-list">
          <li class="expand-group">
            <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>What is a CO-OP?</h3>

            <div style="display: none;" class="expand-content">
              <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">Health Republic Insurance of New York is a Consumer Operated and Oriented Plan, created under the Affordable Care Act. CO-OPs serve individuals and small businesses and those who have been traditionally underserved by the more established health carriers. Profits are invested in lower premiums or better benefits. In time, our Board will have a majority representation of people who actually have insurance from Health Republic. We are also encouraged to test innovations in health care coverage.</span></p>
            </div>
          </li>
          <li class="expand-group">
            <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>What is the primary physician concept?</h3>

            <div style="display: none;" class="expand-content">
              <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">Although many people use the term “Primary Care Physician,” we believe the term “Primary Physician” better captures what most people need…a doctor who: </span></p>

              <ul>
                <li>understands them and their individual needs</li>
                <li>is available for questions and concerns</li>
                <li>stands at the center of a large array of services</li>
              </ul>
              We are incentivizing our members to select a Primary Physician and use that doctor for both preventive care and treatment. We will partner with the Primary Physicians as needed to support member health education, behavior change and analytics.

              <p>&nbsp;</p>
            </div>
          </li>
          <li class="expand-group">
            <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>What is the network and when are referrals required?</h3>

            <div style="display: none;" class="expand-content">
              <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">Health Republic Insurance of New York relies on MagnaCare for the foundation of its network. The MagnaCare network has been reviewed and approved by the New York State Department of Health to offer sufficient coverage in the counties we serve. It includes many of the state’s key hospitals. In addition to MagnaCare, Health Republic is contracting with community health centers and accountable care organizations, especially those with the infrastructure to support population management. Thus, we call our network “MagnaCare Extra.”</span></p>

              <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">Health Republic Health plans do not have out of network benefits, thus all specialty services must be provided by clinicians in the Magnacare Extra network. In the rare instance that a patient requires a unique specialized service, please contact us directly. We do not require any referrals from the Primary Physician to access other services. However, please review and reference the Prior Approval lists (in the Important Resources section) to ensure that the use of medications and procedures follow our requirements. </span></p>
            </div>
          </li>
          <li class="expand-group">
            <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>How can a provider participate in your network?</h3>

            <div style="display: none;" class="expand-content">
              <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">For most specialty and ancillary providers, we partner with MagnaCare to build our network. To assure faster service, please call them directly at 888.624.6202.</span></p>

              <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">Community health centers, patient centered medical homes, and accountable care organizations may call our Provider Relations Department at 646.679.4575. </span></p>
            </div>
          </li>
          <li class="expand-group">
            <h3 class="expand-link"><span class="expand-toggle">[ + ]</span>Do you cover complementary and alternative care (CAM)?</h3>

            <div style="display: none;" class="expand-content">
              <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">Beyond the required chiropractic coverage and a select number of acupuncture visits for certain diagnoses, Health Republic Insurance of New York does not provide CAM benefits. However, our members can access CAM providers through Healthways WholeHealth Living, where they can search and select credentialed providers, all of whom will provide a discount on their fees to our members.</span></p>

              <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;">With limited exceptions CAM is not included in the benefit designs of HRI NY Products; Chiropractic is a covered benefit. Acupuncture is a covered benefit for Primary Select and Primary Select EPO products. </span></p>
            </div>
          </li>
        </ul>

      </div>

    </div>
    <div class="span5">

      <div class="generic-block">
        <h3>Contact Provider Relations</h3>

        <p>Via email: <a href="mailto:ProviderRelations@newyork.healthrepublic.us">ProviderRelations@newyork.healthrepublic.us</a></p>

        <p style="margin: 0in 0in 7.5pt; line-height: 15.75pt;"><span style="line-height: 21px;">Via phone: 888.990.5702 &nbsp;prompt 3</span></p>

        <p style="margin: 0in 0in 7.5pt; line-height: 15.75pt;">
          Via mail: Health Republic Insurance<br>
          Attn: Provider Relations<br>
          30 Broad Street, 34th Floor, New York, NY 10004
        </p>

      </div>

      <div class="generic-block">
        <h3>Important Resources</h3>

        <p><a href="/providerdirectory/">Provider Directory</a></p>

        <p><a href="/sec_docs/provider-guide">Provider Manual</a></p>

        <p><a href="/sec_docs/summary-of-procedures-and-services-that-require-prior-approval">Summary of procedures and services that require prior approval</a></p>

        <p><a href="/sec_docs/hriny-formulary">Medication Formulary</a></p>

        <p><a href="/sec_docs/medication-prior-approval-form">Medication Prior Approval Form</a></p>

        <p><a href="/sec_docs/specialty-medication-prior-approval-form">Specialty Medication Prior Approval Form</a></p>

        <p><a style="line-height: 1.6em;" target="_blank" href="http://choosingwisely.org/">Choosing Wisely</a></p>

      </div>

    </div>
  </div>
</div>