@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-board">
  <div class="row-fluid">
    <div class="main-lead">
      <div class="span4">
        <h3>Board of Directors</h3>
        <ul class="unstyled inline breadcrumbs">
          <li><a href="/">Home</a></li> ›
          <li>Board of Directors</li>
        </ul>
      </div>

      <div class="span7 offset1">
        <p>Our interim Board currently consists of health care experts, community leaders and self-employed individuals who are helping shape the future of Health Republic Insurance of New York.&nbsp; In time, the majority of the governing board will be CO-OP directors who are elected by members.&nbsp;</p>

      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1">

      <div class="staff-member">
        <h3>Barbara Davis</h3>

        <h4 class="job-title">Chair </h4>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Barbara Davis is the Chief Operating Officer of The Actors Fund, a national human services organization for everyone in performing arts and entertainment. Ms. Davis has been with The Actors Fund since 1984. The Fund's programs include social services, health services, workforce development, and three supportive housing residences, and an assisted living and skilled nursing home. Ms. Davis holds a BA in Psychology from American University, a Master's Degree in Social Work from Columbia University, and has completed Columbia University's Graduate School of Business Institute for Not-for-Profit Management Executive and Leadership Programs. She is the Co-Chair of Community Board 4 Housing, Health, and Human Services Committee, and she serves on the Columbia University School of Social Work's World of Work Advisory Committee and the Louis Armstrong Center for Music and Medicine Advisory Committee.</span></p>

      </div>

      <div class="staff-member">
        <h3>Dennis Batey, MD</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Dennis Batey, MD is the President &amp; CEO of The Batey Group (TBG), a consulting firm that helps organizations successfully respond to today's rapidly changing healthcare environment. Prior to founding TBG, Dr. Batey held a number of positions including President of Presbyterian Health Plan in New Mexico, Chief Medical Officer of Fallon Community Health Plan in Massachusetts and CEO of The Preferred Health Network of Maryland. Earlier in his career he also practiced medicine in Juneau, Alaska and was the Assistant Chief of a UCSF-Affiliated Family Practice Residency Program in Northern California. He has a B.S. in Computer Science from the University of San Francisco; an MS in Applied Mathematics from Harvard University; an M.D. from Oregon Health Sciences University and an M.B.A. from the University of New Mexico. He is Board Certified by the American Board of Family Practice and the American Board of Medical Management.</span></p>

      </div>

      <div class="staff-member">
        <h3>Sharon Colucci</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Sharon Colucci has over fifteen years of experience in market management, product development, marketing, and business development at leading global financial institutions. She served as a Vice President at Morgan Stanley and Citigroup before her interest in clean energy led her to pursue a Masters degree. She now holds a Masters in Global Affairs from New York University with a concentration in energy and environmental policy and a B.A. in Psychology from Rutgers University.</span></p>

      </div>

      <div class="staff-member">
        <h3>Abbe Eckstein</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Abbe Eckstein is an award-winning design manager, art director and milliner. She left her career as an advertising art director to start her own business, Abbe Gale Hats, designing and manufacturing children's hats. The hats were sold in boutiques, department stores, and online, and the patterns were licensed to The McCall Pattern Company. After ten years, she closed her business and became a full-time freelancer, working in the advertising, direct marketing, publishing, and packaging fields. She currently works as Senior Design Manager of reading and math intervention curriculum at Scholastic, Inc. She holds a B.F.A. in Advertising Design from the School of Visual Arts and a Millinery Certificate from Fashion Institute of Technology.</span></p>

      </div>

      <div class="staff-member">
        <h3>Rebecca Kramnick</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Rebecca Kramnick is the vice president and general counsel of the Women's Housing and Economic Development Corporation (WHEDco), an organization that provides affordable housing, education, family support, and economic development to families in the Bronx. Prior to joining WHEDco, she was a senior staff attorney at Lawyers Alliance for New York, a nonprofit law firm serving community-based organizations in New York City, where she advised nonprofits on a wide range of legal issues. She has also provided training to nonprofit managers, and has taught continuing legal education courses. She earned her BA from Harvard College and her JD from Cornell Law School.</span></p>

      </div>

      <div class="staff-member">
        <h3>Joseph Mouallem</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Joseph Mouallem is currently a student at the SUNY Downstate College of Medicine. Before pursuing his M.D., Joe was an associate at Carter Ledyard &amp; Milburn LLP, general counsel at Shire Realty Corporation, and a police misconduct investigator for the City of New York. He holds a B.A. in Political Science from Yale, a J.D. from Harvard Law, and did his post-baccalaureate premedical studies at Columbia. He was admitted to the New York State Bar in 2008.</span></p>

      </div>

      <div class="staff-member">
        <h3>Margaret Rimsky</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Margaret Rimsky is a Worldwide Group Planning Director at Ogilvy &amp; Mather, where she has co-lead global strategy on IBM for the past year for the brand's 'Smarter Planet' campaign, one of the most awarded campaigns ever. She has also led strategy on Coca-Cola's worldwide juice portfolio (Minute Maid in the US) and the global Fanta business. Other brands she has developed strategy for have included Kodak, Dove, Vaseline, Miller Lite, and Ben &amp; Jerry's. Margaret is a former Board member of non-profit Lets Get Ready and continuing consultant, and has done volunteer marketing consulting work through the Harvard Business School Community partners. She holds a BA in History from Yale University.</span></p>

      </div>

    </div>
    <div class="span5">

      <div class="staff-member">
        <h3>Debra-Ellen Glickstein</h3>

        <h4 class="job-title">Secretary</h4>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Debra-Ellen Glickstein has spent her career working to expand economic opportunities for low-income individuals and families. Most recently, she served as the Vice President of Strategy &amp; Program Development at the New York City Housing Authority (NYCHA) where she worked to design and implement NYCHA's new strategy to support residents in increasing their income and assets. She is a co-founder and served as the founding Executive Director of the East River Development Alliance (ERDA), a non-profit organization that supports public housing residents to achieve economic success through college counseling, financial planning, career training and job placement assistance. She is also a co-founder and member of the ERDA Federal Credit Union – a community-owned financial institution created to provide public housing residents in Western Queens with access to affordable and relevant financial services. She earned a B.A. with honors from Wesleyan University and her MBA from the NYU Stern School of Business. She is a proud City Year alumnus.</span></p>

      </div>

      <div class="staff-member">
        <h3>Bernard M. Bettencourt, Jr., DO</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Bernard M. Bettencourt,&nbsp;Jr., DO is Medical Director of the Lahey Accountable Care Unit, Burlington, MA. In this role he is responsible for developing and implementing processes and promoting&nbsp;change to address the clinical and financial challenges of the current rapidly changing healthcare system. Dr. Bettencourt has held several different positions including the Medical Director, Alicare Medical Management Inc.; Chief of Health Services, National Security Agency; Senior Medical Advisor, United States Army Institute for Environmental Medicine; and Chief, Department of Emergency Medicine, Eisenhower Army Medical Center. He has a B.S. in Biology from the University of Central Florida; an M.P.H. in Health Services Administration from the Uniformed Services University of Health Sciences and a D.O. with honors from Nova Southeastern University College of Osteopathic Medicine. He is board certified in Emergency Medicine, Occupational Medicine, Medical Management and Health Care Quality Management. He is a Fellow of the American College of Emergency Medicine and the American College of Occupational and Environmental Medicine and a Certified Physician Executive through the American College of Physician Executives.&nbsp;</span><span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.800000190734863px; line-height: normal;">&nbsp;&nbsp;</span></p>

      </div>

      <div class="staff-member">
        <h3>Debra Guss, NP-C, M.S., A.C.R.N.</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Debra Guss, NP-C, M.S., A.C.R.N. has over fifteen years of experience caring for patients and launching community health programs in the United States and abroad. As a clinic manager with Doctors Without Borders, she spearheaded the creation of Zimbabwe's first HIV/ARV Clinic in conjunction with the Zimbabwe Ministry of Health. She currently serves as a Nurse Practitioner at a Gastroenterology and an Urgent Care Center and also is an adjunct lecturer with the School of Nursing at the College of Staten Island. She holds a B.S.N. from the Johns Hopkins School of Nursing and an M.S. from the College of Staten Island.</span></p>

      </div>

      <div class="staff-member">
        <h3>Elizabeth Mayer, MD</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Elizabeth Mayer, MD is an Assistant Professor of Clinical Medicine at Columbia University College of Physicians and Surgeons, in the Division of Rheumatology. She is also a practicing physician, seeing patients at Columbia's AIM clinic, rheumatology clinic, and the Herbert Irving Pavilion. She has a BA in Comparative Literature from Yale University and an MD from Columbia University; she completed her medical residency and rheumatology fellowship at Columbia University Medical Center. In 2010, she received an Ewig Award for dedication and excellence in clinical teaching.</span></p>

      </div>

      <div class="staff-member">
        <h3>Janet Niles, RN</h3>

        <p><span style="font-family: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px;">Janet Niles, RN is a seasoned health care executive with over 30 years of experience in the clinical and health care operations fields. She has served in a number of executive managed care positions in a variety of organizations, including provider owned organizations focusing on Medicaid, Medicare and Commercial populations. Prior to her current position as Vice President, Accountable Care for Ochsner Health System in New Orleans, Louisiana, she served as Senior Vice President of Clinical Operations for a health management firm, managing over 100 people in multiple locations nationwide. Ms. Niles is a member of CMSA and AAMCN. She is past chair of the Education Committee for the Louisiana Association of Health Plans and past member, Board of Directors, Louisiana Association of Health Plans. Ms. Niles received her nursing degree from Kettering College of Medical Arts, a B.S. in Business Administration from Covenant College and a M.S. in Health Education from Virginia Polytechnic Institute and State University.</span></p>

      </div>

    </div>
  </div>
</div>